.callout {
    max-width: 480px;

    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 25px;
    background-color: #214478;
    color: #fff;
}

.callout img {
    float: right;
    margin: 0 0 15px 15px;
    border: 2px solid #333;
    padding: 2px;
    background-color: #fff;
    height: auto;
}

blockquote p {
    margin-bottom: 1.5em;
    line-height: 1.4;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    padding-top: 10px;
    text-align: right;
    font-style: italic;
    margin-top: 20px;
}